@import "../node_modules/nord/src/sass/nord.scss";

body, html {
  margin: 0;
  padding: 0;
  background-color: $nord0;
  overflow: hidden;
}

a {
  color: $nord6;
}

h6 {
  word-spacing: -3px;
  letter-spacing: 0px;
}

#Container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: -1;
}

#Credits {
  color: $nord4;
  font-family: sans-serif;
  position: fixed;
  bottom: -20px;
  left: 10px;
}

#Changelog {
  color: $nord4;
  font-family: sans-serif;
  position: fixed;
  text-decoration: none;
  top: 10px;
  right: 10px;
}

#Cat {
  width: 25%;
  transition: width 0.2s;
}

#Cat:hover {
  width: 27.5%;
}
